/* .App {
  text-align: center;
  justify-self: center;
}
.App-header {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(137, 177, 125);
  min-height: 10vh;
  color: white;
  font-size: calc(10px + 2vmin);
}
.App-link {
color: seagreen;
}

.dropdown {
  width: 100%;
  color: red;
} */
